<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindQuestor - {{subject.capitalize()}}</title>
    <link rel="stylesheet" href="{{url_for('static' , filename = 'subjects.css')}}">
</head>

<body>
    <header>
        <h1>
            {% if current_user.is_authenticated %}
                {{ fullSub }} Levels
            {% else %}
                Please Login to attempt quizes
            {% endif %} </h1>
    </header>
    <div class="level-container">
        {% if current_user.is_authenticated %}
            <!-- Links to different levels in Math -->
            <a href="/subjects/{{subject}}/1" class="level-box">Easy</a>
            <a href="/subjects/{{subject}}/2" class="level-box">Medium</a>
            <a href="/subjects/{{subject}}/3" class="level-box">Hard</a>
            <a href="/subjects/{{subject}}/4" class="level-box">Mix Questions</a>
        {% else %}
            <a href="{{url_for('LogIn')}}" class="level-box">Log In</a>
            <a href="{{url_for('SignUp')}}" class="level-box">Sign Up</a>
        {% endif %}
    </div>
</body>

</html>
